#Atags,.Atags{
    color: black;
    text-decoration: none;
}
#tr11,#tr41,#tr51{
    float: left;
}

#tr11,#tr21,#tr31,#tr41,#tr51{
    /* width: 600px; */
    /* float: left; */
    overflow-x: visible;
    overflow-y: hidden;
}

#tr11::-webkit-scrollbar,#tr41::-webkit-scrollbar,#tr51::-webkit-scrollbar {
    display: none;
}
td{
    padding: 5px;
    text-align: center;
}
.img11{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    /* margin: 10px; */
   
}

#img31{
    height: 40px;
    width: 300px;
}

#para-invissible{
    visibility:hidden;
}
#searchDiv{
    height: 300px;
    width: 300px;
    border: 10px solid blanchedalmond;
    /* visibility: hidden; */
    /* position: fixed; */
    float: left;
    background-color: rgb(143, 173, 199);

}
#para-invissible1{
    /* visibility: hidden; */
    position: fixed;
    top: 100px;
    left: 30px;
}

#imgviewer{
    border: 10px solid blanchedalmond;
    visibility: hidden;
    position: fixed;
    background-color: rgb(143, 173, 199);
    /* width: 300px; */
}
#wishDiv{
    height: 800px;
    /* width: 400px; */
    border: 10px solid blanchedalmond;
    visibility: hidden;
    position: fixed;
    right: 0px;
    top: 0px;
    overflow: scroll;
}
#cartDiv{
    height: 800px;

    border: 10px solid blanchedalmond;
    visibility: hidden;
    position: fixed;
    right: 0px;
    top: 0px;
    overflow: scroll;
}
#subDivCart{
    /* height: 400px; */
    border: 2px solid rgb(218, 212, 149);
}
.card-img-top{
    height:200px;
}
.card{
    height:350px;
    width: 250px;
    text-align: left;
}
#end{
    height: 60px;
    width: 300px;
    padding: 20px;
    font-weight: large;
    background-color: rgba(24, 23, 23, 0.386);
}
svg{
    height: 20px;
}
